body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#homecontainer {
  width: 100%;
  height: 100%;
}

.navi {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}

.navconti {
  text-align: center;
}

a {
  display: inline-block;
  width: 100px;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
}

#menucont img {
  width: 100%;
}

#contactcont img {
  margin: 0 auto;
}
